Resources:
  AWSEBWorkerCronLeaderRegistry:
    Type: "AWS::DynamoDB::Table"
    Properties:
      TableName: dynamo-job-cron
      AttributeDefinitions:
        - AttributeName: id
          AttributeType: S
      KeySchema:
        - AttributeName: id
          KeyType: HASH
      ProvisionedThroughput:
        ReadCapacityUnits: 2
        WriteCapacityUnits: 2
  WebServerScaleDownPolicy:
    Properties:
      AdjustmentType: ChangeInCapacity
      AutoScalingGroupName:
        Ref: AWSEBAutoScalingGroup
      Cooldown: '360'
      ScalingAdjustment: '-1'
    Type: AWS::AutoScaling::ScalingPolicy
  WebServerScaleUpPolicy:
    Properties:
      AdjustmentType: ChangeInCapacity
      AutoScalingGroupName:
        Ref: AWSEBAutoScalingGroup
      Cooldown: '360'
      ScalingAdjustment: '1'
    Type: AWS::AutoScaling::ScalingPolicy