Resources:
  AWSEBWorkerCronLeaderRegistry:
    Type: "AWS::DynamoDB::Table"
    Properties:
      TableName: dynamo-job-cron
      AttributeDefinitions:
        - AttributeName: id
          AttributeType: S
      KeySchema:
        - AttributeName: id
          KeyType: HASH
      ProvisionedThroughput:
        ReadCapacityUnits: 2